[class^="container"]{
  border: 1px solid black;
}

.debug{
  border: 1px solid red;
}

header{
  height: 80px;
  background-color: #2C3E50;
}

ul li{
  list-style: none;
}

.logo{
  width: 50px;
  aspect-ratio: 1/1;
}

#start{
  background-color: #53BD9D
}

.image{
  width: 230px;
  height: 260px;
}

h1{
  font-size: 2.5rem;
  margin: 10px 0;
}

.starbar{
  height: 50px;
}

.skills{
  height: 40px;
}

.jobs{
  height: 350px;
}